[Unit]
Description=Check Mail every 1 minute
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec=1min
OnUnitActiveSec=1min
Unit=checkmail.service

[Install]
WantedBy=default.target
